@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-modern {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

body {
  background-color: #f7f5f0;
  color: #1a1a1a;
}

.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

@font-face {
  font-family: 'Eurostile';
  src: url('/fonts/eurostile.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.8s step-end infinite;
}
